<h2>Edição <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :role => "form" }) do |f| %>
  <%= devise_error_messages!%>

  <div class="form-group">
    <%= f.label "Login " %>
    <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder"exemplo@yearbook.com"%>
  </div>

  <div class="form-group">
    <%= f.label "Foto" %>
        <%=image_tag current_user.avatar.url(:medium), :class => "img-thumbnail center-block"%>
    <%= f.file_field :avatar, autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label :nome_completo %>
    <%= f.text_field :nome_completo, autofocus: true, :class => "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :cidade %>
    <%= f.text_field :cidade, autofocus: true, :class => "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :estado %>
    <%= f.text_field :estado, autofocus: true, :class => "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label "Email do Usuário" %>
    <%= f.email_field :email_usuario, autofocus: true, :class => "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label "Descrição" %>
    <%= f.text_area :descricao, autofocus: true, cols: 40, rows: 4, :class => "form-control"%>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label "Nova Senha" %>
    <%= f.password_field :password, autocomplete: "off", :class => "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label "Confirme a nova Senha" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label "Senha Atual" %>
    <%= f.password_field :current_password, autocomplete: "off", :class => "form-control"%>
  </div>

  <div class="actions">
    <%= f.submit "Atualizar Perfil", :class => "btn btn-success"%>
  </div>
<% end %>

<h3>Cancelar minha conta</h3>

<p>Insatisfeito? <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Você tem certeza:"}, method: :delete,  :class => "btn btn-danger" %></p>
